<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Dịch vụ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/CSS/dichvu.css}">
</head>
<body>
<section layout:fragment="content" class="container mt-5">
    <section class="services">
        <div style="background-image: url('/IMG/background.jpg'); text-align: center; padding: 60px; background-size:cover; border: 0.5px solid whitesmoke;">
            <p style="font-size: 50px; padding: 10px;">Dịch vụ</p>
        </div>
        <div class="service-menu">
            <div class="service-infor">
                <h2>Dịch vụ gói quà</h2>
                <p>
                    Một trong những <b style="color: brown;">"Dịch vụ 0đ"</b> nổi bật của chúng tôi. Dịch vụ gói quà dành cho những khách hàng có nhu cầu gửi tặng cho bạn bè/người thân.
                </p>
            </div>
        </div>
        <div class="service-menu">
            <div class="service-infor">
                <h2>Dịch vụ bảo hành</h2>
                <p>
                    Bảo hành vấn đề về vải, keo, chỉ, gót, đế trong vòng <b style="color: brown;">3 năm</b> đối với các sản phẩm giày.
                    <br>
                    <br>
                    Bảo hành <b style="color: brown;">1 năm</b> đối với các sản phẩm phụ kiện.
                </p>
            </div>
        </div>
        <div class="service-menu">
            <div class="service-infor">
                <h2>Dịch vụ đổi hàng</h2>
                <p>
                    Chúng tôi hỗ trợ đổi hàng trong trường hợp giày không vừa size, đổi mẫu,...(áp duy duy nhất với các sản phẩm chưa qua sử dụng). <br>
                    <br>
                    <b style="color: brown; font-size: 23px;">Phương thức đổi hàng:</b><br>
                    Trực tiếp tại cửa hàng hoặc ship để đổi hàng. <br>
                    <b style="font-size: 10px;">(Chỉ có thể đổi trong vòng 30 ngày kể từ ngày mua hàng.)</b>
                </p>
            </div>
        </div>
    </section>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>