<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Đăng nhập</title>
    <link rel="stylesheet" th:href="@{/CSS/taikhoan.css}">
</head>
<body>
<form th:action="@{/login}" method="post" class="form">
    <h1>Đăng nhập</h1>
    <div th:if="${param.error}" class="alert alert-danger"> Tên người dùng và mật khẩu không hợp lệ.</div>
    <div th:if="${param.logout}" class="alert alert-success"> Bạn đã bị đăng xuất.</div>
    <label for="username">Tên đăng nhập: </label><br>
    <input type="text" required id="username" name="username" placeholder="Tên đăng nhập"><br>
    <label for="password">Mật khẩu: </label><br>
    <input type="password" required id="password" name="password" placeholder="Mật khẩu"><br>
    <input type="checkbox" class="form-check-input" name="remember-me" id="remember-me">
    <label class="form-check-label" for="remember-me"> Ghi nhớ </label>
    <div class="button">
        <input type="submit" value="Xác nhận" class="button1">
        <input type="button" value="Quay lại" class="button1" onclick="window.location.href='/'">
    </div>
    <p class="mt-3 mb-0">Bạn chưa có tài khoản? <a class="text-info text-center" th:href="${'/register'}">Đăng ký?</a></p>
</form>
</body>
</html>
