<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Đăng ký</title>
    <link rel="stylesheet" th:href="@{/CSS/taikhoan.css}">
</head>
<body>
<form th:action="@{/register}" method="post" class="form">
    <h1 >Đăng ký</h1>
    <div th:if="${errors}" class="alert alert-danger justify-content-center" role="alert">
        <ul>
            <li th:each="error : ${errors}" th:text="${error}" class="text-danger text-start"></li>
        </ul>
    </div>
    <label for="email">Email: </label><br>
    <input type="email" id="email" name="email" placeholder="Email của bạn"><br>
    <label for="username">Tên đăng nhập: </label><br>
    <input type="text" id="username" name="username" placeholder="Tên đăng nhập"><br>
    <label for="phone">Số điện thoại: </label><br>
    <input type="tel" id="phone" name="phone" placeholder="Số điện thoại"><br>
    <label for="password">Mật khẩu: </label><br>
    <input type="password" id="password" name="password" placeholder="Mật khẩu"><br>
    <div class="button">
        <input type="submit" value="Đăng ký" class="button1">
        <input type="button" value="Quay lại" class="button1" onclick="window.location.href='/login'">
    </div>
    <p class="mt-3 mb-0">Bạn đã có tài khoản? <a class="text-info text-center" th:href="${'/login'}">Đăng nhập?</a></p>
</form>
</body>
</html>
